[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/glfw/master"]
	path = Engine/vendor/glfw/master
	url = https://github.com/glfw/glfw
